<div class="row">

    <div class="col-3" *ngFor="let car of cars">
        <div class="card" [style]="{ 'width': '12em','height': '30em','margin': '1em'}" >
    
            <img src="{{car.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              
              <h5 class="card-title">{{car.brandName}}</h5>
              <p class="card-text">{{car.dailyPrice}}</p> 
              <button class="m-3 btn btn-primary" pButton pRipple type="button" (click)="deleteCar(car.id)">Sil</button>
              <button class="m-3 btn btn-warning" pButton pRipple type="button" routerLink="/updatecar/{{car.id}}">Güncelle</button>
              <button class="m-3 btn btn-success" pButton pRipple type="button" routerLink="/rentcar/{{car.id}}" (click)="addToCart(car)">Kirala</button>
            </div>
          </div>
    </div>
</div>
