<div class="container w-75">
    <h3 class="m-3">Add New Brand</h3>
    <form [formGroup]="brandAddForm" (ngSubmit)="add()" >
      <div class="form-group m-3">
        <label for="name" class="block">CarName</label>
        <input id="name" formControlName="name" type="text" aria-describedby="username-help" class="form-control" pInputText />
        <small *ngIf="brandAddForm.get('name').hasError('required') && brandAddForm.get('name').dirty" id="username-help" class="p-error block ng-invalid ng-dirty">Name is not available.</small>
      </div>
      <div class="form-group m-3">
        <label for="logo" class="block">Logo</label>
        <input id="logo" formControlName="logo" type="text" aria-describedby="logo-help" class="form-control" pInputText />
        <small *ngIf="brandAddForm.get('logo').hasError('required') && brandAddForm.get('logo').dirty" id="logo-help" class="p-error block ng-invalid ng-dirty">unitPrice is not available.</small>
      </div>
      <p-toast position="top-right"></p-toast>
      <button  type="submit"  class="btn btn-success m-3" [disabled]="brandAddForm.invalid" >Add</button>    
    </form>
  </div>
  